$background-color: #2F303A;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: $background-color;
    .full-container{
        position: relative;
        .circle{
            position: absolute;
            width: 35vw;
            height: 70vh;
            bottom: 0;
            left: 0;
            z-index: -1;
            overflow: hidden;
        }
        .circle::before{
            content: '';
            transform: translateX(-20%);
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background-color: rgb(188, 58, 128, .1);
        }
    }
    .wrapper{
        width: 76%;;
        margin: 0 auto;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-content: center;
        .logo, .other-links{
            display: flex;
            padding: 50px 0;
            cursor: pointer;
        }
        .logo{
            align-items: center;
            span{
                color: white;
                font-size: 24px;
                padding-left: 20px;
            }
        }
        .other-links{
            justify-content: flex-end;
            & li{
                display: inline-block;
                padding: 20px 10px 0 10px;
                font-size: 18px;
            }
            a{
                color: white;
                &:hover{
                    color: lightgrey;
                    font-weight: lighter;
                }
            }

        }
    }
    main section{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        & .poster{
            max-width: 350px;
            max-height: 350px;
            cursor: pointer;
            img{
                width: 350px;
                height: 350px;
            }
        }
        & .new-music{
            h1{
                color: white;
                font-size: 60px;
                padding: 40px 0;
                font-weight: bolder;
            }
            p{
                color: white;
                font-size: 22px;
                padding-top: 7%;
            }
            .charts {
                padding-left: 10px;
                ul{
                    display: flex;
                }
                li{
                    padding: 10px 20px 10px 20px;
                    background-color: #202027;
                    margin-right: 15px;
                    color: white;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    img{
                        width: 70%;
                    };
                    p{
                        padding-top: 10px;
                        font-size: 19px;
                    }
                }
            }
        }
    }
    footer{
        display: flex;
        justify-content: space-between;
        background-color: #202027;
        margin-top: 50px;
        height: 67px;
        ul:first-of-type{
            padding-left: 10%;
        }
        ul:last-of-type{
            padding-right: 10%;
        }
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            li{
                padding-right: 20px;
                a{
                    color: white;
                    font-size: 20px;
                    font-weight: bolder;
                    &:hover{
                        color: lightgrey;
                    }
                }
                img{
                    margin-right: 10px;
                };

            }
        }
    }
}
